body {
    margin: 0;
    padding: 0;
    background: linear-gradient(313deg, rgba(9, 9, 121, 1) 34%, rgba(42, 250, 209, 1) 100%);
}

.container {
    width: 21cm;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.fixed-buttons {
    position: fixed;
    top: 80px;
    right: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    width: 200px;
}

.fixed-buttons button {
    width: 100%;
}

.texto, .contenido, .folio, .QR, #foot {
    text-align: center;
}

.table th {
    background-color: black;
    color: white;
}

@media print {
    .fixed-buttons {
        display: none;
    }
}
